# GLPI variables
GLPI_ADMIN_USER=glpi

#  GLPI database
GLPI_DB_HOST=db
GLPI_DB_PORT=3306
GLPI_DB_DATABASE=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=glpipass

# MySQL variables
MYSQL_ROOT_PASSWORD=mysqlrootpassword

# HTTPS configuration
# Options for GLPI_HTTPS_MODE: self-signed, letsencrypt
GLPI_HTTPS_MODE=self-signed
GLPI_DOMAIN=glpi.localhost
GLPI_EMAIL=admin@example.com
